@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: #f7f8fa;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  padding: 20px 25px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #edeff2;
}

.button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  position: relative;
}

.header-logo {
  color: #4d5e80;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.header-navbar-item a {
  color: #7d8fb3;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
}

.header-navbar-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-button {
  background: url("images/search-icon.svg") no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 6px;
}

.search-input {
  border: none;
  outline: none;
  display: flex;
  padding: 15px 40px 15px 35px;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  color: #adb8cc;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.account-photo {
  max-width: 30px;
  max-height: 30px;
}

.account-name {
  color: #6b7a99;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.button.active::after {
  content: "";
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #e62e7b;
  box-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.03);
  position: absolute;
  top: 0;
  right: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.content {
  display: flex;
  align-items: center;
  gap: 30px;
  align-self: stretch;

  @media (max-width: 1200px) {
    display: flex;
    padding: 0px 45px;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }
}

.menu {
  display: flex;
  padding: 30px 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 280px;
  border-right: 2px solid #edeff2;

  @media (max-width: 1200px) {
    display: none;
  }
}

.avatar {
  position: relative;
}

.avatar.active::after {
  content: "";
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #3361ff;
  box-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.03);
  position: absolute;
  top: 0;
  right: 0;
}

.content-inner {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
}

.inner-column1 {
  display: flex;
  gap: 75px;
  flex-direction: column;
  align-items: flex-start;
}

.credit-cards {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.credit-cards-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  right: -95px;
  margin-top: 24px;
}

.card {
  max-width: 65px;
  max-height: 40px;
  position: relative;
  cursor: pointer;
}

.card.active::before {
  content: "";
  width: 2px;
  height: 40px;
  flex-shrink: 0;
  background: #ff6633;
  position: absolute;
  top: 0;
  left: -10px;
  transform: translateX(-50%);
}

.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  align-self: stretch;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}

.expenses-head {
  display: flex;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 2px solid #f5f6f7;
  width: 100%;
}

.expenses-navbar {
  display: flex;
  gap: 40px;
}

.expenses-navbar-item a {
  color: #7d8fb3;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.expenses-navbar-item:hover {
  color: #83f;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
}

.expenses-navbar-item:hover::after {
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #83f;
}

.expenses-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.expenses-buttons {
  display: flex;
  padding: 1px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.row {
  display: flex;
  gap: 15px;
}

.expenses-button {
  display: flex;
  max-width: 200px;
  height: 40px;
  padding: 6px 20px 6px 15px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  border: 2px solid #f5f6f7;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  color: #7d8fb3;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.inner-column2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
}

.operation {
  width: 100%;
  height: 635px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}

.operation-navbar {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.operation-head {
  display: flex;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 2px solid #f5f6f7;
  width: 100%;
  background-color: #fff;
}

.operation-navbar-item a {
  color: #7d8fb3;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
}

.oparation-navbar-item a:hover {
  color: #83f;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
}

.operation-navbar-item a:hover::after {
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-bottom: 2px solid #83f;
}

.operation-rows {
  overflow-y: scroll;
}

.operation-rows::-webkit-scrollbar {
  width: 8px;
  height: 380px;
}

.operation-rows::-webkit-scrollbar-track {
  background: #f5f6f7;
}

.operation-rows::-webkit-scrollbar-thumb {
  background: #b8b6b6;
  border-radius: 4px;
}

.operation-row {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #f5f6f7;
}

.operation-row img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.operation-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.operation-amounts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.operation-name {
  color: #7d8fb3;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
}

.operation-process {
  color: #4d5e80;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
}

.cashback {
  display: flex;
  height: 30px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: rgba(41, 204, 57, 0.05);
  color: #29cc39;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
}

.badge {
  display: flex;
  height: 30px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #f7f8fa;
  color: #6b7a99;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
}

.empty {
  display: flex;
  height: 30px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #fff;
}

.info-boxes-line {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  gap: 30px;
}

.info-card {
  display: grid;
  place-items: center;
  gap: 35px;
  padding: 27px;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.05);
}

.info-card-name {
  color: #4d5e80;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.transfer-card {
  display: grid;
  place-items: center;
  padding: 30px;
  align-items: flex-start;
  gap: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.05);
}

.transfer-card-name {
  color: #4d5e80;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.transfer-organization {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-left: 2px solid #edeff2;

  @media (max-width: 1200px) {
    display: none;
  }
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sidebar-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar-content-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 188px;
}

.sidebar-text {
  color: #6b7a99;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.sidebar-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.sidebar-cards-head {
  display: flex;
  align-items: center;
  gap: 124px;
  align-self: stretch;
}

.sidebar-cards-text {
  color: #6b7a99;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.sidebar-small-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.small-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.small-card-left {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.small-card-name {
  color: #7d8fb3;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.small-card-balance {
  color: #6b7a99;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
}

.sidebar-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.sidebar-settings-head {
  display: flex;
  align-items: center;
  gap: 188px;
}

.settings-head-text {
  color: #6b7a99;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.setting-rows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.setting-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.setting-row-text {
  color: #6b7a99;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.sidebar-help {
  display: flex;
  padding: 26px 85px;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  background: rgba(255, 203, 51, 0.1);
}

.need-help {
  color: #f63;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.my-bank {
  color: #83f;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
}
