@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: #f7f8fa;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  padding: 20px 25px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #edeff2;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0px 25px;
    justify-content: space-between;
    align-items: center;
  }
}

.button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  position: relative;
}

.header-logo {
  color: #4d5e80;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.header-navbar-item a {
  color: #7d8fb3;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
}

.header-navbar-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 1188px) {
  .header-navbar-list {
    display: none;
  }
}

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 1518px) {
  .search-input-container {
    display: none;
  }
}

.search-button {
  background: url("images/search-icon.svg") no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 6px;
}

.search-input {
  border: none;
  outline: none;
  display: flex;
  padding: 15px 40px 15px 35px;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  color: #adb8cc;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media (max-width: 800px) {
  .user {
    display: none;
  }
}

.account-photo {
  max-width: 30px;
  max-height: 30px;
}

.account-name {
  color: #6b7a99;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons .button.person {
  display: none;
  margin: 0 0 auto auto;
}

@media (max-width: 1518px) {
  .header-buttons .button.person {
    display: flex;
  }
}

.header-buttons .button.search {
  display: none;
}

@media (max-width: 1518px) {
  .header-buttons .button.search {
    display: flex;
  }
}

@media (max-width: 800px) {
  .header-buttons .button.search {
    display: none;
  }
}

.button.active::after {
  content: "";
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #e62e7b;
  box-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.03);
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 800px) {
  .button.cancel {
    display: none;
  }
}

@media (max-width: 800px) {
  .button.social {
    display: none;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.content {
  display: flex;
}

@media (max-width: 1518px) {
  .content {
    display: flex;
    padding: 0px 45px;
    align-items: center;
    gap: 30px;
  }

  @media (max-width: 1188px) {
    .content {
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }
}

@media (max-width: 800px) {
  .content {
    display: flex;
    padding: 0px 15px;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  height: calc(100vh - 92px);
  padding: 30px 25px;
  border-right: 2px solid #edeff2;
}

@media (max-width: 1518px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(38, 51, 77, 0.05);
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
  }
  .sidebar.active {
    transform: translateX(0);
  }
}

.avatar {
  position: relative;
}

.avatar.active::after {
  content: "";
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #3361ff;
  box-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.03);
  position: absolute;
  top: 0;
  right: 0;
}

.content-inner {
  display: flex;
  gap: 30px;
  flex: 1;
  padding: 30px;
}

@media (max-width: 1188px) {
  .content-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 800px) {
  .content-inner {
    display: flex;
    align-items: center;
    gap: 90px;
    flex: 1;
  }
}

.inner-column1 {
  display: flex;
  gap: 75px;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .inner-column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.credit-cards {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

@media (max-width: 1188px) {
  .credit-cards {
    display: none;
  }
}

@media (max-width: 800px) {
  .credit-cards {
    display: none;
  }
}

.test-div {
  display: flex;
  align-items: center;
  position: relative;
  margin: auto;
}

@media (min-width: 1188px) {
  .test-div {
    display: none;
  }
}

@media (max-width: 800px) {
  .test-div {
    display: none;
  }
}

@media (min-width: 1188px) {
  .credit-card-1200 {
    display: none;
  }
}

@media (max-width: 800px) {
  .credit-card-1200 {
    display: none;
  }
}

.test-button {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  right: 0;
  position: absolute;
  border-radius: 100px;
  background: var(--black-black-50, rgba(0, 0, 0, 0.5));
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}

@media (min-width: 1188px) {
  .test-button {
    display: none;
  }
}

@media (max-width: 800px) {
  .test-button {
    display: none;
  }
}

.credit-card-360 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-width: 800px) {
  .credit-card-360 {
    display: none;
  }
}

.credit-cards-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  bottom: -25px;
}

.cardd.active::after {
  content: "";
  width: 40px;
  height: 2px;
  background: #ff6633;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.credit-cards-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  right: -95px;
  margin-top: 24px;
}

.card {
  max-width: 65px;
  max-height: 40px;
  position: relative;
  cursor: pointer;
}

.card.active::before {
  content: "";
  width: 2px;
  height: 40px;
  background: #ff6633;
  position: absolute;
  top: 0;
  left: -10px;
  transform: translateX(-50%);
}

.expenses {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}

@media (max-width: 800px) {
  .expenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background: #fff;
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

.expenses-head {
  display: flex;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 2px solid #f5f6f7;
  width: 100%;
}

.expenses-navbar {
  display: flex;
  gap: 40px;
}

.expenses-navbar-item a {
  color: #7d8fb3;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  position: relative;
}

.expenses-navbar-item a:hover {
  color: #83f;
}

.expenses-navbar-item a:hover::after {
  content: "";
  bottom: -20px;
  left: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  background: #83f;
}

.expenses-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

@media (max-width: 1188px) {
  .expenses-content {
    display: flex;
    flex-direction: row;
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .expenses-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
}

.expenses-buttons {
  display: flex;
  padding: 1px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.row {
  display: flex;
  gap: 15px;
}

@media (max-width: 1188px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

.expenses-button {
  display: flex;
  max-width: 200px;
  height: 40px;
  padding: 6px 20px 6px 15px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  border: 2px solid #f5f6f7;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  color: #7d8fb3;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.inner-column2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

@media (max-width: 1188px) {
  .inner-column2 {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.operation {
  width: 100%;
  height: 635px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}

.operation-navbar {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.operation-head {
  display: flex;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f5f6f7;
  width: 100%;
  background-color: #fff;
}

.operation-navbar-item a {
  color: #7d8fb3;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
  position: relative;
}

.operation-navbar-item a:hover {
  color: #83f;
}

.operation-navbar-item a:hover:after {
  content: "";
  bottom: -20px;
  left: 0;
  background: #83f;
  position: absolute;
  width: 100%;
  height: 2px;
}

.operation-rows {
  overflow-y: scroll;
}

.operation-rows::-webkit-scrollbar {
  width: 8px;
  height: 380px;
}

.operation-rows::-webkit-scrollbar-track {
  background: #f5f6f7;
}

.operation-rows::-webkit-scrollbar-thumb {
  background: #b8b6b6;
  border-radius: 4px;
}

.operation-row {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #f5f6f7;
}

.operation-row img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.operation-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

@media (max-width: 800px) {
  .operation-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
  }
}

.operation-amounts {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 0 auto auto;
}

@media (max-width: 800px) {
  .opt-button {
    display: none;
  }
}

.operation-name {
  color: #7d8fb3;
  font-size: 11px;
  font-weight: 700;
  line-height: 25px;
}

.operation-process {
  color: #4d5e80;
  font-size: 11px;
  font-weight: 700;
  line-height: 25px;
}

.cashback {
  display: flex;
  height: 30px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: rgba(41, 204, 57, 0.05);
  color: #29cc39;
  text-align: center;
  font-size: 10px;
  font-weight: 900;
  line-height: 20px;
}

@media (max-width: 800px) {
  .cashback {
    display: none;
  }
}

.badge {
  display: flex;
  height: 30px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #f7f8fa;
  color: #6b7a99;
  text-align: center;
  font-size: 10px;
  font-weight: 900;
  line-height: 20px;
}

.empty {
  display: flex;
  height: 30px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #fff;
}

@media (max-width: 800px) {
  .empty {
    display: none;
  }
}

.info-boxes-line {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.info-boxes-line-block {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 800px) {
  .info-boxes-line-block {
    display: flex;
    flex-wrap: wrap;
  }
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 27px;
  width: 100%;
  max-width: 160px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.05);
}

@media (max-width: 800px) {
  .info-card {
    max-width: 47%;
  }
}

@media (max-width: 590px) {
  .info-card {
    max-width: 46%;
  }
}

.info-card-name {
  color: #4d5e80;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.transfer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.05);
}

.transfer-card-name {
  color: #4d5e80;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.transfer-organization {
  display: flex;
  gap: 15px;
  justify-content: center;
}

@media (max-width: 800px) {
  .transfer-organization {
    display: flex;
    justify-content: space-between;
  }
}

.sidebar {
  display: flex;
  width: 100%;
  max-width: 330px;
  height: 100%;
  padding: 30px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-left: 2px solid #edeff2;
}

@media (max-width: 1518px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(38, 51, 77, 0.05);
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
  }
  .sidebar.active {
    transform: translateX(0);
  }
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sidebar-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar-content-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 188px;
}

.sidebar-text {
  color: #6b7a99;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.sidebar-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.sidebar-cards-head {
  display: flex;
  align-items: center;
  gap: 124px;
  align-self: stretch;
}

.sidebar-cards-text {
  color: #6b7a99;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.sidebar-small-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.small-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.small-card-left {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.small-card-name {
  color: #7d8fb3;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.small-card-balance {
  color: #6b7a99;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
}

.sidebar-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.sidebar-settings-head {
  display: flex;
  align-items: center;
  gap: 188px;
}

.settings-head-text {
  color: #6b7a99;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.setting-rows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.setting-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.setting-row-text {
  color: #6b7a99;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.sidebar-help {
  display: flex;
  padding: 26px 85px;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  background: rgba(255, 203, 51, 0.1);
}

.need-help {
  color: #f63;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.my-bank {
  color: #83f;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
}
